---
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
---

<a
  id="skip-to-content"
  href="#main-content"
  class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
>
  コンテンツへスキップ
</a>

<header style="display:block;text-align:right;padding-right:30px;margin-top:20px">
</header>

<script>
  function toggleNav() {
    const menuBtn = document.querySelector("#menu-btn");
    const menuItems = document.querySelector("#menu-items");
    const menuIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");
    if (!menuBtn || !menuItems || !menuIcon || !closeIcon) return;
    menuBtn.addEventListener("click", () => {
      const openMenu = menuBtn.getAttribute("aria-expanded") === "true";
      menuBtn.setAttribute("aria-expanded", openMenu ? "false" : "true");
      menuBtn.setAttribute("aria-label", openMenu ? "メニューを開く" : "メニューを閉じる");
      menuItems.classList.toggle("hidden");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  }
  toggleNav();
  document.addEventListener("astro:after-swap", toggleNav);
</script>
